<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<title>Harjoitustyö</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<div>
			<form th:object=${category} th:action=@{../category/save} action="#" method="POST">
				<div>			
					<input type="hidden" id="categoryId" th:field="*{categoryId}"/>
					
					<label for="categoryName">Name </label>
					<input type=text id="categoryName" th:field="*{categoryName}"/>
					<span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></span>
				</div>
    			<input type=submit value="Save changes"/>
			</form>	
		</div>
	</body>
</html>