<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <title>Harjoitustyö</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
  </head>

  <body>
    <div class="mainContainer">
      <nav class="navbar">
        <h1>imgstr</h1>
        <div class="navLinkContainer">
          <a class="navInteraction" href="/categories"> categories </a>
          <a class="navInteraction upload" href="/upload">UPLOAD</a>
          <div class="navAuth" sec:authorize="isAuthenticated()">
            Hello,&nbsp; <span sec:authentication="name"></span> &nbsp;!
            <form th:action="@{/logout}" method="POST">
              <input class="navInteraction" type="submit" value="logout" />
            </form>
          </div>
        </div>
      </nav>
      <table>
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="image:${images}">
            <td>
              <a th:href="@{'/images/'+${image.imageId}}">
                <img
                  style="width: 100px"
                  th:src="@{'/download/'+${image.imageId}}"
              /></a>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="/images"> images </a>
      <a href="/users"> users </a>
    </div>
  </body>
</html>
