<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<title>Harjoitustyö</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<div>
	        <form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="POST">
	            <div>
	            	<input type="text" th:field="*{email}" placeholder="Email"/>
	            	<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	            </div>
	            <div>
	            	<input type="text" th:field="*{username}" placeholder="Username"/>
	            	<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
	            </div>
	            <div>
	            	<input type="password" th:field="*{password}" placeholder="Password"/>
	            	<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
	            </div>
	            <div>
	            	<input type="password" th:field="*{passwordCheck}" placeholder="Confirm password"/>
	            	<span th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"></span>
	            </div>
	            <div><input type="submit" value="Signup"/></div>
	            <p><a th:href="@{/login}">Login.</a></p>
	        </form>
         </div>
	</body>
</html>