<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<title>Harjoitustyö</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link
      		rel="stylesheet"
      		href="../static/css/styles.css"
      		th:href="@{/css/styles.css}"
    	/>
	</head>
	
	<body>
		<div class="signupContainer">
			<h1>Welcome to imgstr!</h1>
	        <form class="signupForm" th:object="${signupform}" th:action="@{/saveuser}" action="#" method="POST">
	            <div>
	            	<input type="text" th:field="*{email}" placeholder="Email"/>
	           	</div>
	            	<span class="signupError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	            <div>
	            	<input type="text" th:field="*{username}" placeholder="Username"/>	            	
	            </div>
	            	<span class="signupError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
	            <div>
	            	<input type="password" th:field="*{password}" placeholder="Password"/>
	            </div>
	            <span class="signupError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
	            <div>
	            	<input type="password" th:field="*{passwordCheck}" placeholder="Confirm password"/>	            	
	            </div>
	            <span class="signupError" th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"></span>
	            <div><input class="signupSubmit" type="submit" value="Sign Up"/></div>
	            <p class="signup-p"><a th:href="@{/login}">Already registered? Login</a></p>
	        </form>
         </div>
	</body>
</html>