<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Harjoitustyö</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<div>
			<h1>imagestore</h1>
			<form th:object=${image} th:action=@{/upload/upload} action="#" method="POST" encType="multipart/form-data">
				<div>
					<input type="file" name="image" id="image" required/>
					
					<label for="imageTitle">Title </label>
					<input type=text id="imageTitle" name="imageTitle"/>
					
					<label for="imageTitle">Description </label>
					<input type=text id="imageDesc" name="imageDesc"/>
					
					<label for="categorylist">Category</label>
			 		<select id="categorylist">
       					<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
    				</select>
				</div>
    			<input type=submit value="Submit"/>
			</form>	
			<a href="/images">Browse images</a>
		</div>
	</body>
</html>