<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<title>Harjoitustyö</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<div>
			<h1>imagestore</h1>
			<form th:object=${image} th:action=@{/upload/upload} action="#" method="POST" encType="multipart/form-data">
				<div>
					<input type="file" name="image" id="image" accept="image/png, image/gif, image/jpeg" required/>
					
					<label for="imageTitle">Title </label>
					<input type=text id="imageTitle" th:field="*{imageTitle}"/>
					<span th:if="${#fields.hasErrors('imageTitle')}" th:errors="*{imageTitle}"></span>
					
					<label for="imageDesc">Description </label>
					<input type=text id="imageDesc" th:field="*{imageDesc}"/>
					<span th:if="${#fields.hasErrors('imageDesc')}" th:errors="*{imageDesc}"></span>
					
					<label for="categories">Category</label>
			 		<select id="categories" th:field="*{category}" >
       					<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
    				</select>
				</div>
    			<input type=submit value="Submit"/>
			</form>	
			<a href="/images">Browse images</a>
		</div>
	</body>
</html>