<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<title>Harjoitustyö</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<div>
			<h1><a th:href="@{'/'}"> imagestore </a></h1>
			<div>
				<h3>List of users</h3>
				<Table>
					<thead>
						<tr>
							<th>Id</th>
							<th>Username</th>
							<th>Email</th>
							<th>Role</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${users}">
							<td th:text="${user.userId}" />
							<td th:text="${user.username}" />
							<td th:text="${user.email}" />
							<td th:text="${user.role}" />
							<td><a th:href="@{'/edit/user/'+${user.userId}}"> EDIT </a></td>
							<td><a th:href="@{'/delete/user/'+${user.userId}}"> DELETE </a></td>
						</tr>
					</tbody>
				</Table>
			</div>
		</div>
	</body>
</html>