<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <title>Harjoitustyö</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
  </head>

  <body>
    <div class="mainContainer">
      <nav class="navbar">
        <h1><a th:href="@{'/'}"> imgstr </a></h1>
        <div class="navLinkContainer">
          <a class="navInteraction" href="/categories"> categories </a>
          <a class="navInteraction upload" href="/upload">upload</a>
          <div class="navAuth" sec:authorize="isAuthenticated()">
            Hello,&nbsp; 
            <span sec:authentication="name"></span> &nbsp;!
            <form th:action="@{/logout}" method="POST">
              <input class="navInteraction" type="submit" value="logout" />
            </form>
          </div>
          <div class="navAuth" sec:authorize="isAnonymous()">
            <a class="navInteraction" href="/login"> login </a>
          </div>
        </div>
      </nav>
      
      <div th:object=${user}>
      <p>Name:&nbsp;<span th:text="${user.username}"></span></p>
      <table>
		<thead>
			<tr>
			  <th>Liked images:</th>
			</tr>
		  </thead>
		  <tbody>
			<tr th:each="image:${user.likedImages}">
				<td><a th:href="@{'/images/'+${image.imageId}}"> <img style="width: 100px" th:src="@{'/download/'+${image.imageId}}" /></a></td>
			</tr>
		  </tbody>
		</table>
		<table>
		<thead>
			<tr>
			  <th>Your images:</th>
			</tr>
		  </thead>
		  <tbody>
			<tr th:each="image:${user.images}">
				<td><a th:href="@{'/images/'+${image.imageId}}"> <img style="width: 100px" th:src="@{'/download/'+${image.imageId}}" /></a></td>
			</tr>
		  </tbody>
		</table>
      </div>
    </div>
  </body>
</html>
